 /* Hele pagina  */
 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	display: flex;
	min-height: 100vh;
	background-image: linear-gradient(120deg, RGB(227,28,121), rgb(0, 208, 255));
}

/* Einde hamburger menu */

/* Hero */
.container {
    margin: 0 auto;
    padding: 5%;
}


input, textarea, label {
    display: block;
    width: 100%;
	font-weight: bold;
	
}

input, textarea {
    border: 0px;
    border-bottom: 5px solid #828282;
}

input[type=submit] {
    background-color: #545557;
    padding: 15px 0;
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;

}

input, textarea {
    color: black;
    font-size: 20px;
    padding: 10px;
}




