 /* Hele pagina  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	display: flex;
	min-height: 100vh;
}

/* Einde hele pagina */


/* Hero */

.hero {
	height: 100vh;
	width: 80vw !important;
	right: 0;
	background-color: black;
	color: white;
	display: grid;
	grid-auto-flow: column;
}

.heroimage { 
	margin: auto;
}

.herotekst {
	margin: auto;
}


.herobutton {
	font-size: 40px;
	background-image: linear-gradient(120deg, RGB(227,28,121), rgb(0, 208, 255));
	border-radius: 5px;
	margin-left: 1em;
	background-color: red;
}



/* Eind hero */


@media (max-width: 768px) {
	.hero {
		width: 100vw !important;
		grid-auto-flow: row;
	}

}

