 /* Hele pagina  */
 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	display: flex;
	min-height: 100vh;
}

/* Einde hele pagina */

/* Sidebar  */

.navimage {
    height: 150px;
    width: 150px;
    border-radius: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	border: gray solid 7px;
}

.sidebar {
	width: 20vw;
	padding: 2rem 1rem;
	background-color: #2e3047;
	position: relative;
}

.sidebar .menu {
	margin: 0 -1rem;
}

.sidebar .menu .menu-item {
	display: block;
	padding: 2em;
	color: #FFF;
	text-decoration: none;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
	color: gray;
	border-right: 4px solid gray;
}

.sidebar .menu .menu-item:hover {
	border-right: 4px solid gray;
}

.icons {
    margin-left: auto;
    margin-right: auto;
	font-size: 40px;
	padding-left: 31px;
}


/* Einde sidebar */




.menu-toggle {
	display: none;
	position: fixed;
	top: 2rem;
	right: 2rem;
	width: 60px;
	height: 60px;
	border-radius: 99px;
	background-color: #2e3047;
	cursor: pointer;
}

 /* Hamburger menu */

.hamburger {
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #FFF;
}

.hamburger > span::before {
  content: '';
  top: -8px;
}
.hamburger > span::after {
  content: '';
  top: 8px;
}

/* Einde hamburger menu */

/* Hero */

.hero {
	height: 100vh;
	width: 80vw !important;
	right: 0;   
	display: grid;
	grid-auto-flow: column;
}

.shine {
    padding-top: 5em;
    padding-left: 15em;
}

.text {
    padding-top: 4em;
}

.image{
    float: left;
}



/* Eind hero */

/* Responsive  */

@media (max-width: 1024px) {
	.sidebar {
		max-width: 200px;
	}
}

@media (max-width: 768px) {
	.menu-toggle {
		display: block;
	}
	.hero {
		width: 100vw !important;
		grid-auto-flow: row;
        margin-inline: auto;
	}

	.shine {
		padding: 0;
	}


    .text {
		padding-top: 12em;
    }

	.sidebar {
		position: fixed;
		top: 0;
		left: -300px;
		height: 100vh;
		width: 100%;
		max-width: 300px;
	}


	.sidebar.is-active {
		left: 0;
	}
}

/* Eind responsive  */